#annotator
  = partial "adder.haml"
  = partial "heatmap.haml"
  .a-sidepane
    %ul#a-d-xb9.a-listing.a-detail
      = partial "annotation-detail.haml"
    %ul#a-d-n3w.a-listing.a-detail
      = partial "annotation-detail_2.haml"
    %ul.a-listing.a-bucket
      = partial "summaries.haml"
