#annotator
  = partial "adder.haml"
  = partial "heatmap.haml"
  .hyp-sidepane
    %ul.hyp-xb9-d.hyp-listing.hyp-detail
      = partial "annotation-detail.haml"
    %ul.hyp-n3w-d.hyp-listing.hyp-detail
      = partial "annotation-detail_2.haml"
    %ul.hyp-listing.hyp-bucket
      = partial "summaries.haml"
